# exclude all .DS_Store files (visuals for Mac OS) 
*/.DS_Store
.DS_Store

# exclude annoying pycache and .ipynb_checkpoints/ files so that they do not act as changes for git
*/__pycache__
*.pyc
*.swp
.ipynb_checkpoints/

# exclude all data files (heavy) except for the README.md files
data/*
!data/README.md

